@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}

body
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.650), rgba(0, 0, 0, 0.740)), url(space.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200vh;

}

header
{
    background-color: #282828;
    padding: 1em;
    margin-bottom: 2vh;
}

.text-header
{
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar
{
    position: absolute;
    top: 1.4rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.bar
{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.list-conteiner
{
    display: flex;
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    align-items: center;
    gap: 2.5rem;
    font-size: 1.1rem;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li a
{
    text-decoration: none;
    color: white;
}

nav ul li a:hover
{
    border-bottom: 2px solid aqua;
}

.click:focus
{
    color: aqua;
    
}



.click
{
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 12px;

}

.click:hover
{
    background-color: aqua;

}



.navbar-close
{
    position: absolute;
    top: 1.4rem;
    right: 1.5rem;
    display: none;
    width: 30px;
    height: 21px;
    z-index: 1;
}

.mobile-menu
{
    display: none;
    position: absolute;
    width: 103.5vw;
    height: 100vh;
    left: 0;
    bottom: 0;
}




.content-img
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 25px;
}






@media (max-width: 720px){

  

    .navbar
    {
        display: flex;
    }

    .list-conteiner    {
        display: none;
    }

    .mobile-menu 
    {
        position: fixed;
        background-color: #282828;
    }

    .mobile-menu .list-conteiner
    { 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}


.mobile-menu.ativo
{
    display: flex;
    margin-left: -1em;
}

.navbar.ativo
{
    display: none;
}

.navbar-close.ativo
{
    display: block;
}

header .ativo
{
    padding: 0px;
}

}

.content-img
{
    width: 400px;
    height: 250px;
    margin: 8px;
}

.content-img img
{
    width: 100%;
    border-radius: 25px;
    
}

#pic
{
    width: 400px;
    height: 250px;
}

#pic img
{
    width: 100%;
    height: 100%;
}

#login
{
    width: 400px;
    height: 250px;
}

#login img
{
    width: 100%;
    height: 100%;
}


.contet-projeto
{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-left: 40px;
    border-left: 4px solid aqua;
    gap: 10px;
}

.titulo, .sub-titulo, .descrip
{
    margin-left: 10px;
}

.titulo, .sub-titulo
{
    font-weight: bolder;
}

.content-main
{
    column-gap: 15vw;
    row-gap: 15vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.descrip
{
    width: 400px;
}

@media(max-width: 650px)
{
    .titulo, .sub-titulo, .descrip
    {
        margin-left: 0px;
    }

    body
    {
        height: 300vh;
    }

    .contet-projeto
    {
        align-items: center;
        text-align: center;
        padding: 0px;
        border: none;
        align-items: center;
    }

    .content-img 
    {
        width: 300px;
    }

    .content-main
    {
        justify-content: center;
    }


}

@media(max-width: 450px)
{
    .content-main .descrip
    {
        width: 350px;
    } 

    #pic
{
    width: 300px;
    height: 180px;
}

#pic img
{
    width: 100%;
    height: 100%;
}

#login
{
    width: 300px;
    height: 180px;
}

#login img
{
    width: 100%;
    height: 100%;
}



   
}