@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}

body
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.650), rgba(0, 0, 0, 0.740)), url(space.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

header
{
    background-color: #282828;
    padding: 1em;
    margin-bottom: 2vh;
}

.text-header
{
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar
{
    position: absolute;
    top: 1.4rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.bar
{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.list-conteiner
{
    display: flex;
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    align-items: center;
    gap: 2.5rem;
    font-size: 1.1rem;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li a
{
    text-decoration: none;
    color: white;
}

nav ul li a:hover
{
    border-bottom: 2px solid aqua;
}

.click:focus
{
    color: aqua;
    
}

.conteiner-main
{
    padding: 15px;
}



.click
{
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 12px;

}

.click:hover
{
    background-color: aqua;

}



.navbar-close
{
    position: absolute;
    top: 1.4rem;
    right: 1.5rem;
    display: none;
    width: 30px;
    height: 21px;
    z-index: 1;
}

.mobile-menu
{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
}

.main-conteiner
{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    padding: 50px;
    align-content: flex-start;
}

.card-content
{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 150px;
    height: 200px;
    background-color: #282828;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
    font-size: 20px;
}

.content-img
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 25px;
}

.card-content:hover
{
    .content-img
    {
        transition: 400ms;
    }

    width: 160px;
    height: 210px;
    transition: 300ms;

}




@media (max-width: 720px){

     .card-content
    {
        margin: auto;
    }

    .navbar
    {
        display: flex;
    }

    .list-conteiner    {
        display: none;
    }

    .mobile-menu 
    {
        position: fixed;
        background-color: #282828;
    }

    .mobile-menu .list-conteiner
    { 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}


.mobile-menu.ativo
{
    display: flex;
    margin-left: -1em;
}

.navbar.ativo
{
    display: none;
}

.navbar-close.ativo
{
    display: block;
}

header .ativo
{
    padding: 0px;
}

}

@media(max-width: 1000px)
{
    body
    {
        height: 150vh;
    }
}

@media(max-width: 850px)
{
    body
    {
        height: 190vh;
    }
}

@media(max-width: 650px)
{
    body
    {
        height: 220vh;
    }
}

@media(max-width: 450px)
{
    .card-content
    {
        width: 120px;
        height: 160px;
    }

    .card-content:hover
    {
        .content-img
        {
            transition: 400ms;
        }
    
        width: 130px;
        height: 180px;
        transition: 300ms;
    
    }
}
